<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h3>Programming</h3>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <pre>
        ‣ Python, Java, C
        ‣ Data Structures, Algorithms
        ‣ Problem Solving
       </pre>
  </div>
  <div class="tech">
    <h3>Web Development</h3>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <pre>
        ‣ Flask(Basics), Bottle
        ‣ HTML, CSS, JS
      </pre>
  </div>
  <div class="tech">
    <h3>Database</h3>
      <i class="devicon-mysql-plain-wordmark"></i>
      <i class="devicon-oracle-original colored"></i>
      <pre>
       ‣ RDBMS, MySQL
       ‣ Oracle
      </pre>
  </div>