<head>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description"><span style="color: #00ffcd;">Software Engineer</span> at ValueLabs, Hyderabad</span>
      </h1>
      <div class="header-icons">
        {% for link in site.social_links%}

          {% if link.faicon != "chart-line"%}
            <a aria-label="{{link.label}}" target="_blank" href="{{link.url}}"><i id = "icon" class="fab fa-{{link.faicon}}" ></i></a>
          {% else %}
          <a aria-label="{{link.label}}" target="_blank" href="{{link.url}}"><i id = "icon" class="fas fa-{{link.faicon}}" ></i></a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="assets/Me/Vasavi_Resume.pdf" target="_blank">Resume</a>
        <a class="link" href="#contacts" data-scroll>Contact</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i id = "icon" class="fas fa-chevron-down" aria-hidden="true"></i></a>
</div>
