<head>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description"><span style="color: #FF9900;">Data Engineer</span> at Amazon, Hyderabad</span>
      </h1>
      {% include social_links.html %}
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="assets/Me/Vasavi_Resume.pdf" target="_blank">Resume</a>
        <a class="link" href="#contacts" data-scroll>Contact</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i id = "icon" class="fas fa-chevron-down" aria-hidden="true"></i></a>
</div>
