<head>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Github" target="_blank" href="https://github.com/VasaviLagishetty"><i id = "icon" class="fab fa-github" ></i></a>
        <a aria-label="My HackerRank" target="_blank" href="https://www.hackerrank.com/vasavi_2910"><i id = "icon" class="fab fa-hackerrank" ></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/vasavi2910"><i id = "icon" class="fab fa-linkedin"></i></a>
        <a aria-label="My Sourcer" target="_blank" href="assets/Resume/Vasavi_Resume.pdf"><i id = "icon" class="fas fa-chart-line"></i></a>        
        <a aria-label="My facebook" target="_blank" href="https://www.facebook.com/vasavi2910"><i id = "icon" class="fab fa-facebook"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About_Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#contact" data-scroll>Contact</a>
        <a class="link" href="assets/Resume/Vasavi_Resume.pdf" target="_blank" data-scroll>Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
