<style>
p{
  margin-bottom: 23px;
}
</style>
<div class="user-details">
  <h1> Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/classify_binder.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> The Classify Binder - <span style="font-size: large;">File Classification</span> </h3>
    <p>An application which deals with local file system directories and folders and classifies them into respective folders which makes user task of accessing files easy in that particular directory.</p>
    <a class="project-link" target="_blank" href="https://github.com/VasaviLagishetty/Classify-Binder/">Source Code <i id="icon" class="fa fa-file-code" style="font-size:20px;"></i></a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/movie_search.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Movie Search - <span style="font-size: large;">Keyword based search</span> </h3>
    <p>Developing a React JS application that fetches the data from OMDB API and displays on a web page according to the user search keyword and category.</p>
    <a class="project-link" target="_blank" href="https://github.com/VasaviLagishetty/MovieSearch">Source Code <i id="icon" class="fa fa-file-code" style="font-size:20px;"></i></a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/covid19.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> COVID19 Analysis - <span style="font-size: large;">Visualizations</span> </h3>
    <p>A graph plot that describes overall covid19 cases, geographical Visualizations and also top 10 countries with respective confirmed, deaths, recovered cases.</p>
    <a class="project-link" target="_blank" href="https://github.com/VasaviLagishetty/COVID19">Source Code <i id="icon" class="fa fa-file-code" style="font-size:20px;"></i></a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/hcr.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HCR - <span style="font-size: large;">Handwritten character recognition</span> </h3>
    <p>Built a Machine Learning model, Web Application in python to recognize the handwritten digits from images. For future enhancement we will focus on alphabets, numeric data and telugu characters.</p>
    <a class="project-link" target="_blank" href="https://code.swecha.org/team2/charrecognition">Source Code <i id="icon" class="fa fa-file-code" style="font-size:20px;"></i></a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/pwa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> PWA - <span style="font-size: large;">Progressive Web Apps</span> </h3>
    <p>A technical paper presentation on Progressive Web Apps. PWAs are web applications that are regular web pages or websites, but can appear to the user like traditional applications or native mobile applications</p>
    <a class="project-link" target="_blank" href="https://github.com/VasaviLagishetty/Progressive-Web-App">Source Code <i id="icon" class="fa fa-file-code" style="font-size:20px;"></i></a>
  </div>
</div>