<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <div class="header-icons">
      {% for link in site.social_links%}
        {% if link.faicon != "chart-line"%}
          <a aria-label="{{link.label}}" target="_blank" href="{{link.url}}"><i id = "icon" class="fab fa-{{link.faicon}}" ></i></a>
        {% else %}
        <a aria-label="{{link.label}}" target="_blank" href="{{link.url}}"><i id = "icon" class="fas fa-{{link.faicon}}" ></i></a>
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>